@font-face {
    font-family: Myfont-reg;
    src: url(fonts/SourceSansPro-Regular.otf) format('truetype');
}
@font-face {
    font-family: Myfont-bold;
    src: url(fonts/SourceSansPro-Bold.otf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Myfont-reg;
    
}

body {
     color: #222;
    line-height: 1.6;
}

a {
    text-decoration: none;
}



h1, h2, h3 {
    text-align: center;
}

.hero-header {
    background: url(images/headphones_hero_1.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
    color: #fff;
    padding: 20px 60px;
}
.logo img{
    width: 150px;
    display: flex;
    gap: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover, .nav-links a:active {
    color: #FF6565; 
}

.hero-content {
    max-width: 650px;
    margin: 240px auto 0;
    text-align: center;
    
}

.subtext {
    font-size: 13px;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 14px;
    margin-top: 25px;
}

.CTA {
    background: #FF6565;
    border: none;
    padding: 12px 32px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 45px;
}

.CTA:hover,
.CTA:active {
    opacity: 0.9; 
}





@media (max-width: 480px) {

    /* SWITCH PAGE TO MOBILE LAYOUT */

    .nav-links {
        display: none; /* hide desktop menu */
    }

    .services,
    .results-boxes {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .hero-content {
        margin-top: 70px;
    }
}


